.main {
  width: 100%;
  margin: 0 auto;

  padding: 8%;
}

.title {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    // border-bottom: 1px solid #174925;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #4c785b;
  }
  & > h2::before {
    content: "";
    width: 5px;
    height: 30px;

    background-color: #333333;
    margin-right: 8px;
    top: 0;
    bottom: 0;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.backToTopButton {
  color: #174925;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: right;

  & > span::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 7px;
    height: 7px;
    border-top: 2px solid #174925;
    border-right: 2px solid #174925;
    transform: rotate(45deg);
    margin-top: -5px;
    right: 106px;
  }
}
// .backToTopButton div::before {
// }
.titleImage {
  width: 100vw;
  height: 50vh;
  overflow: hidden;

  & > img {
    width: 100%;
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 768px) {
  .titleImage {
    height: 30vh;
  }
}
